{% extends 'main.html' %}

    {% block content %}
    {% load static %}
        <div class="row">
           {% for product in products %}
              <div class="col-lg-4">
                  <img class="thumbnail" src="{{ product.imageURL }}">
                  <div class="box-element product">
                      <h6><strong>{{ product.name }}</strong></h6>
                      <hr>
                      <button type="button" class="btn btn-outline-secondary add-btn">Add to Cart</button>
                      <a href="#" class="btn btn-outline-success">View</a>
                      <h6 style="float: right; display: inline-block">${{ product.price|floatformat:2 }}</h6>
                  </div>
              </div>
            {% endfor %}

        </div>
    {% endblock %}
